/* @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;700&display=swap');

body {
	font-family: 'Nunito', sans-serif;
} */
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	scroll-behavior: smooth;
	overflow-x: hidden;
}

@layer utilities {
	.animation-delay-1000 {
		animation-delay: 1s;
	}
	.animation-delay-2000 {
		animation-delay: 2s;
	}
	.animation-delay-3000 {
		animation-delay: 3s;
	}
	.animation-delay-4000 {
		animation-delay: 4s;
	}
}
